
mlclass-ex1/ex1_multi.m

mlclass-ex1/ex1.m

mlclass-ex1/ex1.pdf

notes/ml-007-octave tutorial

notes/ml-007-multi-lr.png

notes/ml-007-linear regression with one variable

notes/ml-007-linear regression with multiple variables

notes/ml-007-linear algebra review

notes/ml-007-introduction

mlclass-ex1/submitWeb.m

mlclass-ex1/submit.m

mlclass-ex1/plotData.m

mlclass-ex1/octave-workspace

mlclass-ex1/ml_login_data.mat

mlclass-ex1/ex1data2.txt

mlclass-ex1/ex1data1.txt

mlclass-ex2/ex2_reg.m

mlclass-ex2/ex2.m

mlclass-ex2/mapFeature.m

mlclass-ex2/submit.m

mlclass-ex2/plotDecisionBoundary.m

notes/ml-007-logistic regression

notes/ml-007-logistic regularization

mlclass-ex2/octave-workspace

mlclass-ex2/submitWeb.m

mlclass-ex2/ml_login_data.mat

mlclass-ex2/ex2data2.txt

mlclass-ex2/ex2data1.txt

mlclass-ex2/ex2.pdf

mlclass-ex3/displayData.m

mlclass-ex3/ex3_nn.m

mlclass-ex3/ex3.m

mlclass-ex3/ex3.pdf

mlclass-ex3/ex3data1.mat

mlclass-ex3/ex3weights.mat

mlclass-ex3/ml_login_data.mat

mlclass-ex3/fmincg.m

mlclass-ex3/submit.m

mlclass-ex3/submitWeb.m

notes/ml-007-neural networks-representation

mlclass-ex3/octave-workspace

mlclass-ex4/ex4data1.mat

mlclass-ex4/ex4weights.mat

mlclass-ex4/checkNNGradients.m

mlclass-ex4/computeNumericalGradient.m

mlclass-ex4/debugInitializeWeights.m

mlclass-ex4/displayData.m

mlclass-ex4/ex4.m

mlclass-ex4/fmincg.m

mlclass-ex4/submit.m

mlclass-ex4/submitWeb.m

mlclass-ex4/ml_login_data.mat

mlclass-ex4/octave-workspace

mlclass-ex5/ex5.m

mlclass-ex5/ex5.pdf

mlclass-ex5/ex5data1.mat

mlclass-ex5/featureNormalize.m

mlclass-ex5/fmincg.m

mlclass-ex5/ml_login_data.mat

mlclass-ex5/octave-workspace

mlclass-ex5/plotFit.m

mlclass-ex5/submit.m

mlclass-ex5/submitWeb.m

mlclass-ex5/trainLinearReg.m

notes/ml-007-advice-for-applying-machine-learning

notes/ml-007-machine-learning-system-design

notes/ml-007-neural networks-learning

mlclass-ex6/emailSample1.txt

mlclass-ex6/emailSample2.txt

mlclass-ex6/ex6_spam.m

mlclass-ex6/ex6.m

mlclass-ex6/ex6.pdf

mlclass-ex6/ex6data1.mat

mlclass-ex6/ex6data2.mat

mlclass-ex6/ex6data3.mat

mlclass-ex6/getVocabList.m

mlclass-ex6/linearKernel.m

mlclass-ex6/ml_login_data.mat

mlclass-ex6/octave-workspace

mlclass-ex6/porterStemmer.m

mlclass-ex6/readFile.m

mlclass-ex6/spamSample1.txt

mlclass-ex6/spamSample2.txt

mlclass-ex6/spamTest.mat

mlclass-ex6/spamTrain.mat

mlclass-ex6/submit.m

mlclass-ex6/submitWeb.m

mlclass-ex6/svmPredict.m

mlclass-ex6/svmTrain.m

mlclass-ex6/vocab.txt

notes/ml-007-support-vector-machines

mlclass-ex6/visualizeBoundaryLinear.m

mlclass-ex6/visualizeBoundary.m

mlclass-ex6/plotData.m

mlclass-ex7/bird_small.mat

mlclass-ex7/bird_small.png

mlclass-ex7/displayData.m

mlclass-ex7/drawLine.m

mlclass-ex7/ex7_pca.m

mlclass-ex7/ex7.m

mlclass-ex7/ex7.pdf

mlclass-ex7/ex7.textClipping

mlclass-ex7/ex7data1.mat

mlclass-ex7/ex7data2.mat

mlclass-ex7/ex7faces.mat

mlclass-ex7/featureNormalize.m

mlclass-ex7/ml_login_data.mat

mlclass-ex7/octave-workspace

mlclass-ex7/plotDataPoints.m

mlclass-ex7/plotProgresskMeans.m

mlclass-ex7/runkMeans.m

mlclass-ex7/submit.m

mlclass-ex7/submitWeb.m

notes/ml-007-clustering

notes/ml-007-dimensionality-reduction
